# Lyle Scott, III  // lyle@digitalfoo.net // Copyright 2013
#
# COPY TO constants.py !

constants = {
    'EMAIL_ENABLE': True,
    'EMAIL_HOST': 'imap.gmail.com',
    'EMAIL_HOST_SSL': True,
    'EMAIL_USER': 'user@gmail.com',
    'EMAIL_PASS': 'mypass',
    'EMAIL_SEARCH': '(HEADER Subject "[Fail2Ban] ssh: banned*")',
    'EMAIL_IP_REGEX': r'The IP ([0-9]{1,3}(?:\.[0-9]+){3}) has just been banned by',

    'LOG_ENABLE': False,
    'LOGS': [
        # paths to a log file or a glob that represents multiple logs.
        ],

    'GEOIP_COUNTRY': 'dats/GeoIP.dat',
    'GEOIP_CITY': 'dats/GeoLiteCity.dat',
    }


def getConstant(key):
    try:
        return constants[key]
    except:
        raise Exception('Constant %s not set.' % key)
