html, body {
    height: 100%;
}

body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

th {
    text-align: left;
}

table {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    text-align: left;
    width: 100%;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}

td, th {
    padding: 2px 4px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    white-space: nowrap;
}

div#map-container {
    width: 100%;
    height: 100%;
}

div#map {
    width: 100%;
    height: 100%;
}

div#infowindow-wrapper {
    width: 640px;
    line-height:1.35;
    overflow:hidden;
    white-space:nowrap;
}