# Lyle Scott, III  // lyle@digitalfoo.net // Copyright 2013
#
# COPY TO constants.py !

import re

constants = {
    'EMAIL_ENABLE': False,
    'EMAIL_HOST': 'imap.gmail.com',
    'EMAIL_HOST_SSL': True,
    'EMAIL_USER': 'user@gmail.com',
    'EMAIL_PASS': '',
    'EMAIL_SEARCH': '(HEADER Subject "[Fail2Ban] ssh: banned*")',
    'EMAIL_IP_REGEX': re.compile(
        r'The IP ([0-9]{1,3}(?:\.[0-9]+){3}) has just been banned .* against ([^.]+).'),

    'LOCALLOG_ENABLE': False,
    'LOCALLOG_HOST': 'localhost',
    'LOCALLOG_LOGS': [
        # You can use paths for globs here.
        '/var/log/fail2ban.log',
        #'/var/log/fail2ban/*.log',
        ],
    'LOCALLOG_IP_REGEX': re.compile(
        r'(\d\d\d\d-\d\d-\d\d).* \[(.*?)\] Ban ([0-9]+(?:\.[0-9]+){3})'),

    'REMOTELOG_ENABLE': False,
    'REMOTELOG_LOGS': [
        'l@ls3.me:/var/log/fail2ban.log',
        ],
    'REMOTELOG_IP_REGEX': re.compile(
        r'(\d\d\d\d-\d\d-\d\d).* \[(.*?)\] Ban ([0-9]+(?:\.[0-9]+){3})'),

    'GEOIP_COUNTRY': 'dats/GeoIP.dat',
    'GEOIP_CITY': 'dats/GeoLiteCity.dat',
    }


def getConstant(key):
    try:
        return constants[key]
    except:
        raise Exception('Constant %s not set.' % key)
